<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="../long/js/js.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../long/css/css.css"/>
	</head>
	<body>
		<div class="main">
		<nav>
			<div class="center">
				<div class="left">Roux Meetups</div>
			<div class="right">
				<ul>
					<li><a href="http://localhost:3002/home" methods="GET">Home</a></li>
					<li>Speakers</li>
					<li>Feedback</li>
					<li>Chat</li>
				</ul>
			</div>
			</div>
		</nav>
		
		<div class="people">
			<div class="center">
				<div class="people_left">
					<div class="common">
						<div class="people_head"><p class="first">Art in Full Boolom</p><p class="second">with lozebrn Gragle</p></div>
						<div class="jianlia">
							<figure><img src="../long/img/Lorenzo_Garcia.jpg"></figure>
							<div class="text">Since we were born, we are meant to face we are meant to face the stage of study and<br>
							seems everybody does the onder about the meaning of we get the meaning of we get  to<br>
							Study comes first for learn the knowledge,the meaning of we get  we get to know about<br>
							world. The more we learn, the more we want the meaning of we get  to search for that go <br>
							thinking.Since we were born, we are meant the meaning of we get to face the stage of study and<br>
							seems everybody does the onder about the the meaning of we get  meaning of we get to<br>
							Study comes first for learn the knowledge,the meaning of we get  we get to know about<br>
							world. The more we learn, the more we want the meaning of we get to search for that go <br>
							thinking.
							</div>
						</div>
					</div>
				</div>
				<div class="people_right">
					<div class="people_right_head">
						<h3>Artwork on display</h3>
						<p>艺术展览</p>
					</div>
					<div class="people_right_bottom">
						<ul>
							<li><img src="../long/img/Lorenzo_Garcia_01_tn.jpg"></li>
							<li><img src="../long/img/Lorenzo_Garcia_02_tn.jpg"></li>
							<li><img src="../long/img/Lorenzo_Garcia_03_tn.jpg"></li>
							<li><img src="../long/img/Lorenzo_Garcia_04_tn.jpg"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		</div>
	</body>
</html>
